:root{
    --color-bg: #fff;
    --color-bg-secondary: #f7f7f7;
    --color-bg-lightgray: #e1e1e1;
    --color-text: #222;
    --color-blue: #1169ac;
    --color-border: rgba(0,0,0,0.06);
    --color-gradient: linear-gradient(90deg, rgba(103,65,153,1) 5%, rgba(17,105,172,1) 50%, rgba(61,188,194,1)95%);
    --border-radius: 10px;
    --border-radius-sm: 6px;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0,0,0, 0.05);
    --shadow-hover: 0 12px 20px rgba(0, 0, 0, 0.4);
    /* header */
    --header-height: 50px;
    --site-width: 968px;
}
html, body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    padding: 0;
}
.container{
    max-width: var(--site-width);
	width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
a{
    color: var(--color-blue);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.secondair_btn{
    text-decoration: none;
    color: var(--color-blue);
    padding: 8px 8px 8px 10px;
    border: 2px solid var(--color-blue);
    border-radius: var(--border-radius);
    display: flex;
    gap: 2px;
    position: relative;
    width: fit-content;
    transition: all .3s ease;
}
.secondair_btn:hover{
    text-decoration: none;
    transform: translateY(-2px);
}
.secondair_btn svg{
    width: 20px;
    fill: var(--color-blue);
    transition: transform .3s ease .3s;
}
.secondair_btn:hover svg{
    transform: translateX(2px);
}
/* Headings */
h1{
    margin: 50px 0 20px;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 400;
    color: var(--color-text);
}
h2{
    font-size: 2.5em;
    font-weight: 400;
}
h3{
    margin: 2em 0;
}
hr{
    content: "";
    display: block;
    width: 100%;
    margin: 40px 0px;
    height: .1em;
    background: var(--color-gradient);
    border-radius: var(--border-radius-sm);
}
/* Homepage */
/* Homepage - personal */
.personal{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    /* Height 100svh - height menu - padding */
    height: calc(100svh - var(--header-height) - 80px);
}
.personal__img, .personal__content{
    width: 50%;
}
.personal__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.personal__text h1{
    margin: 30px 0;
}
.personal__name{
    font-weight: 500;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.personal__content > *{
    margin: 0;
}
.personal__text h2{
    font-weight: 600;
    font-size: 22px;
}
.personal__socials{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
.personal__socials a{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius-sm);
    transition: all .3s ease;
    background: var(--color-bg-secondary);
}
.personal__socials a svg{
    fill: var(--color-text);
    width: 24px;
    height: 24px;
    transition: all .2s ease;
}
.personal__socials a:hover{
    background-color: var(--color-bg-lightgray);
}
.personal__socials a:hover svg{
    fill: var(--color-blue);
}
.personal__img img{
    border-radius: var(--border-radius);
    background: var(--color-border);
}
/* Homepage - projects */
.home__projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.home__project_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project__card, .home__project_card {
    width: calc(50% - 12px);
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    overflow: clip;
    transition: all .3s ease;
}
.project__card:hover, .home__project_card:hover{
    transform: translateY(-5px) scale(1.02);
    box-shadow: var(--shadow-hover);
}
.home__project_thumbnail{
    height: 200px;
    overflow: hidden;
}
.home__project_thumbnail img{
    width: 100%;
    max-height: unset;
}
.home__project_content{
    height: 100px;
    padding: 20px;
}
.project__content h2, .home__project_content h2{
    font-size: 1.5em;
 }
.home__project_content h2{
    margin: 0;
    margin-bottom: 20px;
}
/* Project */
.filter__search{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-blue);
    overflow: hidden;
}
.filter__search svg{
    width: 20px;
    height: 20px;
    fill: #fff;
    padding: 10px;
    background: var(--color-blue);
    transition: all .2s ease;
}
.filter__search input{
    height: 40px;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 0 10px;
}
.filter__search input:focus-visible{
    border: none;
    outline: none;
}
#clearSearch {
    height: 40px;
    width: 40px;
    color: #fff;
    background: var(--color-blue);
    border: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
#clearSearch.visible {
    opacity: 1;
    pointer-events: auto;
}
.filter__tags{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.filter__tags svg{
    width: 26px;
    height: 26px;
    margin: 10px 0px;
    right: 0px;
    fill: var(--color-blue);
}
.filter__options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;
    position: relative;
}
.filter__tag, 
.project__tag {
    padding: 6px 8px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    font-size: 13px;
    text-transform: lowercase;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    transition: all .2s ease;
}
.filter__tag.active, .project__tag.active {
    background: var(--color-blue);
    color: #fff;
}
.project__grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
}
.project__thumbnail{
    height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.project__thumbnail img{
    width: 100%;
    object-fit: cover;
}
.project__content{
    height: 250px;
    padding: 15px 20px;
}
.project__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.project__title, .project__discover{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project__discover{
    align-items: flex-end;
}
.project__content .project__date{
    margin: 0;
    position: relative;
    top: -20px;
    font-size: 12px;
}
.project__content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    line-height: 1.2em;
    height: 2.4em;
}
.project__tags{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
    flex-wrap: wrap;
}