:root{
    --color-bg: #fff;
    --color-bg-secondary: #f7f7f7;
    --color-bg-lightgray: #e1e1e1;
    --color-text: #222;
    --color-blue: #1169ac;
    --color-green: #1ec451;
    --color-border: rgba(0,0,0,0.06);
    --color-gradient: linear-gradient(90deg, rgba(103,65,153,1) 5%, rgba(17,105,172,1) 50%, rgba(61,188,194,1)95%);
    --border-radius: 10px;
    --border-radius-sm: 6px;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0,0,0, 0.05);
    --shadow-hover: 0 12px 20px rgba(0, 0, 0, 0.4);
    /* header */
    --header-height: 50px;
    --site-width: 968px;
}
html, body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    padding: 0;
    margin: 10px 10px 0;
}
/* Components */
.container{
    max-width: var(--site-width);
	width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
a{
    color: var(--color-blue);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.primary_btn{
    color: #fff;
    background: var(--color-blue);
    display: flex;
    gap: 2px;
    position: relative;
    width: fit-content;
    transition: all .3s ease;
    text-decoration: none;
    padding: 10px 10px 10px 12px;
    font-size: 16px;
    border-radius: var(--border-radius);
}
.primary_btn svg{
    fill: #fff;
    transition: transform .3s ease .3s;
    width: 24px;
}
.primary_btn:hover{
    transform: translateY(-2px);
    text-decoration: none;
}
.primary_btn:hover svg{
    transform: translateX(2px);
}
.secondair_btn{
    text-decoration: none;
    color: var(--color-blue);
    padding: 8px 8px 8px 10px;
    border: 2px solid var(--color-blue);
    border-radius: var(--border-radius);
    display: flex;
    gap: 2px;
    position: relative;
    width: fit-content;
    transition: all .3s ease;
}
.secondair_btn:hover{
    text-decoration: none;
    transform: translateY(-2px);
}
.secondair_btn svg{
    width: 20px;
    fill: var(--color-blue);
    transition: transform .3s ease .3s;
}
.secondair_btn:hover svg{
    transform: translateX(2px);
}
.status {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: bold;
    font-size: .7rem;
}
.status--active {
    color: var(--color-blue);
}
.status__icon {
    background-color: var(--color-blue);
    border-radius: 50%;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
}
.status__icon_finished{
    height: 15px;
    display: flex;
    align-items: center;
}
.status__icon_finished svg{
    fill: #555;
    width: 10px;
    height: 10px;
}
/* Headings */
h1{
    margin: 50px 0 20px;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 400;
    color: var(--color-text);
}
h2{
    font-size: 2.5em;
    font-weight: 400;
}
h3{
    margin: 2em 0;
}
hr{
    content: "";
    display: block;
    width: 100%;
    margin: 40px 0px;
    height: .15em;
    background: var(--color-gradient);
    border-radius: var(--border-radius-sm);
    border: none;
}
hr.hr_secondair{
    background: #cacaca;
    margin: 1em 0;
    border: 0;
    height: .1em;
}
/* Homepage */
/* Homepage - personal */
.personal{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    /* Height 100svh - height menu - padding */
    height: calc(100svh - var(--header-height) - 80px);
}
.personal__img, .personal__content{
    width: 50%;
}
.personal__img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.personal__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.personal__text{
    cursor: default;
}
.personal__text h1{
    margin: 30px 0;
}
.personal__name{
    font-weight: 500;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.personal__content > *{
    margin: 0;
}
.personal__text h2{
    font-weight: 600;
    font-size: 22px;
}
.personal__socials{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
.personal__socials a{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius-sm);
    transition: all .3s ease;
    background: var(--color-bg-secondary);
}
.personal__socials a svg{
    fill: var(--color-text);
    width: 24px;
    height: 24px;
    transition: all .2s ease;
}
.personal__socials a:hover{
    background-color: var(--color-bg-lightgray);
}
.personal__socials a:hover svg{
    fill: var(--color-blue);
}
.personal__img img{
    border-radius: var(--border-radius);
    background: var(--color-border);
}
/* Homepage - projects */
.home__projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.home__project_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project__card, .home__project_card {
    width: calc(50% - 12px);
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    overflow: clip;
    transition: all .3s ease;
}
.project__card:hover, .home__project_card:hover{
    transform: translateY(-5px) scale(1.02);
    box-shadow: var(--shadow-hover);
}
.home__project_thumbnail{
    height: 200px;
    overflow: hidden;
}
.home__project_thumbnail img{
    width: 100%;
    max-height: unset;
}
.home__project_heading{
    justify-content: space-between;
    gap: 10px;
}
.home__project_content{
    height: 140px;
    padding: 20px;
}
.project__content h2, .home__project_content h2{
    font-size: 1.5em;
 }
.home__project_content h2{
    margin: 0;
}
.under-more{
    margin: 30px 0px;
    display: flex;
    justify-content: flex-end;
}
/* About me */
#about-me h2{
    font-size: 1.5em;
}
/* About me - Skills */
.skills__grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
.skill{
    flex: 1;
    background: var(--color-bg-secondary);
    border-radius: var(--border-radius-sm);
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-border);
    transition: all .3s ease;
    cursor: default;
}
.skill__img{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px;
}
.skill__img.figma{
    background: rgba(10,207,131,.2);
}
.skill__img.javascript{
    background: rgba(226,226,5,.2);
}
.skill__img.kotlin,
.skill__img.html,
.skill__img.git,
.skill__img.svelte,
.skill__img.laravel{
    background: rgba(229, 117, 76, .2);
}
.skill__img.css,
.skill__img.jetpack{
    background: rgba(36, 101, 241, .2);
}
.skill__img.php,
.skill__img.eleventy{
    background: rgba(137, 147, 190, .2);
}
.skill__content{
    min-width: 130px;
}
.skill__content > *{
    margin: 0;
}
.skill__content h3{
    font-size: 1em;
}
.skill__content p{
    font-size: .7em;
}
/* Project */
.filter__search{
    height: 32px;
    display: flex;
    align-items: center;
    /* width - border */
    width: calc(100% - 4px);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-blue);
    overflow: hidden;
}
.filter__search svg{
    width: 16px;
    height: 16px;
    fill: #fff;
    padding: 8px;
    background: var(--color-blue);
    transition: all .2s ease;
}
.filter__search input{
    height: 32px;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 0 10px;
}
.filter__search input:focus-visible{
    border: none;
    outline: none;
}
#clearSearch {
    height: 40px;
    width: 40px;
    color: #fff;
    background: var(--color-blue);
    border: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
#clearSearch.visible {
    opacity: 1;
    pointer-events: auto;
}
.filter__tags{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
}
.filter__tags svg{
    width: 26px;
    height: 26px;
    margin: 10px 0px;
    right: 0px;
    fill: var(--color-blue);
}
.filter__options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;
    position: relative;
}
.filter__tag, 
.project__tag {
    padding: 6px 8px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    font-size: 13px;
    text-transform: lowercase;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    transition: all .2s ease;
}
.filter__tag:hover, 
.project__tag:hover{
    transform: translateY(-1px);
    text-decoration: none;
}
.filter__tag.active, .project__tag.active {
    background: var(--color-blue);
    color: #fff;
}
.project__grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
}
.project__thumbnail{
    height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.project__thumbnail img{
    width: 100%;
    object-fit: cover;
}
.project__content{
    padding: 15px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.project__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.project__title, .project__discover{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project__discover{
    align-items: flex-end;
}
.project figure{
    margin: 0;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-sm);
    position: relative;
}
.project figure figcaption{
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: #fff;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    width: calc(100% - 10px);
}
.project__content .project__date{
    margin: 0;
    position: relative;
    top: -20px;
    font-size: 12px;
}
.project__content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project__tags{
    display: flex;
    gap: 10px;
    width: fit-content;
    flex-wrap: wrap;
}
.project__header{
    position: relative;
}
.project__links{
    position: absolute;
    bottom: -35px;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}
.project__foto_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, calc(50% - 5px)));
    gap: 10px;
    align-items: center;
    margin: 30px 0;
}
.project__foto_grid figure{
    cursor: pointer;
    position: relative;
    margin: 0;
    overflow: hidden;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow);
    border: 1px solid var(--color-border);
}
.project__foto_grid figure figcaption{
    position: absolute;
    bottom: 0;
    background: #fff;
    width: calc(100% - 20px);
    padding: 10px;
    border-top: 1px solid var(--color-border);
}
.project__foto_grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 40px;
    max-height: 350px;
}
/* Gallery full screen modal */
.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 40px);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 20px 0;
}
.fullscreen-modal_container{
    max-width: var(--site-width);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.fullscreen-modal_container.manual_photo_grid{
    justify-content: center;
}
.fullscreen-content img {
    max-height: calc(100vh - 40px);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow);
}
.fullscreen-caption{
    background: #fff;
    padding: 10px;
    border-radius: var(--border-radius-sm);
}
.fullscreen-modal_container button{
    border: none;
    background: none;
    cursor: pointer;
}
.fullscreen-modal_container button svg{
    width: 40px;
    fill: #fff;
}
.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    z-index: 10000;
}
.hidden {
    display: none;
}
/* Manual foto grid */
.manual_foto_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, calc(33% - 5px)));
    gap: 10px;
    align-items: center;
    margin: 30px 0;
}
.manual_foto_grid figure {
    overflow: clip;
}
/* FixYourFinance colors: */
.fyf-purple,
.fyf-orange,
.fyf-yellow,
.fyf-green{
    font-weight: bold;
}
.fyf-purple{
    color: #9b42ff;
}
.fyf-orange{
    color: #ff8d00;
}
.fyf-yellow{
    color: #e6ae00;
}
.fyf-green{
    color: #14d354;
}
@media (max-width: 768px) {
    h1{
        font-size: 3em;
    }
    .personal{
        flex-direction: column-reverse;
        height: unset;
    }
    .personal > *{
        width: 100%;
    }
    .personal__img{
        display: flex;
        justify-content: center;
    }
    .personal__img img{
        max-height: 300px;
    }
    .personal h1,
    .personal__text{
        text-align: center;
    }
    .home__project_header .secondair_btn{
        display: none;
    }
    .project__card, .home__project_card{
        width: 100%;
    }
    .home__project_content, .project__content{
        height: unset;
    }
}
/* Animations */
.animation__wave--initial {
    animation: wave 0.6s ease-in-out 2 alternate;
}
.animation__wave{
    transform-origin: bottom right;
    display: inline-block;
}
.personal__text:hover .animation__wave{
    animation: wave .6s ease-in-out 3 alternate;
    cursor: default;
}
@keyframes wave{
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
}
.animation__blink{
    animation: blink 1.5s infinite;
}
@keyframes blink {
    10%, 90% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}