:root{
    --color-bg: #fff;
    --color-bg-secondary: #f7f7f7;
    --color-text: #222;
    --color-blue: #1169ac;
    --color-border: rgba(0,0,0,0.06);
    --color-gradient: linear-gradient(90deg, rgba(103,65,153,1) 5%, rgba(17,105,172,1) 50%, rgba(61,188,194,1)95%);
    --border-radius: 10px;
    --border-radius-sm: 6px;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0,0,0, 0.05);
    --shadow-hover: 0 12px 20px rgba(0, 0, 0, 0.4);
    /* header */
    --header-height: 50px;
}
html, body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 968px;
	width: 100%;
}
.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
/* Headings */
h1{
    margin: 100px 0 20px;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 400;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-decoration: none;
}
hr{
    content: "";
    display: block;
    width: 100%;
    margin: 20px 0px;
    height: 2px;
    background: var(--color-gradient);
    border-radius: var(--border-radius-sm);
}
/* Project */
.filter__tags{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.filter__tags svg{
    width: 26px;
    height: 26px;
    margin: 10px 0px;
    right: 0px;
    fill: var(--color-blue);
}
.filter__options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0px;
    position: relative;
}
.filter__tag, 
.project__tag {
    padding: 6px 8px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    font-size: 13px;
    text-transform: lowercase;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
}
.filter__tag.active, .project__tag.active {
    background: var(--color-blue);
    color: #fff;
}
.project__grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
}
.project__card {
    width: calc(50% - 12px);
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    overflow: clip;
    transition: all .3s ease;
}
.project__card:hover{
    transform: translateY(-5px) scale(1.02);
    box-shadow: var(--shadow-hover);
}
.project__thumbnail{
    height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.project__thumbnail img{
    width: 100%;
    object-fit: cover;
}
.project__content{
    height: 250px;
    padding: 15px 20px;
}
.project__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.project__title, .project__discover{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project__discover{
    align-items: flex-end;
}
.project__link{
    text-decoration: none;
    color: var(--color-blue);
    padding: 8px 8px 8px 10px;
    border: 2px solid var(--color-blue);
    border-radius: var(--border-radius);
    display: flex;
    gap: 2px;
    position: relative;
    width: fit-content;
    transition: all .3s ease;
}
.project__link:hover{
    transform: translateY(-2px);
}
.project__discover .project__link svg{
    width: 20px;
    fill: var(--color-blue);
}
.project__content .project__date{
    margin: 0;
    position: relative;
    top: -20px;
    font-size: 12px;
}
.project__content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    line-height: 1.2em;
    height: 2.4em;
}
.project__tags{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
}