<head>
    <link rel="stylesheet" href="/css/nav.css">
</head>

<header class="site-header">
    <div class="site-header__container">
        <span class="site-header__logo-container">
            <a class="site-header__logo" href="/" aria-label="Logo">
                <img src="/assets/images/EL-no-bg-large.png" alt="logo EL" />
            </a>
        </span>
        <button
            class="site-header__mobile-nav"
            data-drawer-trigger=""
            aria-controls="drawer-name"
            aria-expanded="false"
        >
            <span class="site-header__mobile-nav-label">Menu</span>
        </button>
        <nav class="site-header__nav">
            <ul class="site-header__items">
                {% for entry in collections.navPages | eleventyNavigation %}
                    <li class="site-header__item">
                        <a
                            class="site-header__link{% if entry.url == page.url %} site-header__link--active{% endif %}"
                            href="{{ entry.url | url }}"
                        >
                            {{ entry.data.eleventyNavigation.key }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>                          
    </div>
</header>