<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "Project" }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QM3RGPNLQ7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QM3RGPNLQ7');
    </script>
</head>
<body>
    <div class="container">
        {% include "nav.html" %}    
        <main>
            <div class="project__header">
                <h1>{{ title | default: "My project" }}</h1>
                {% if links %}
                    <div class="project__links">
                        {% for link in links %}
                        <a href="{{ link.url }}" class="secondair_btn" target="_blank">
                            {{ link.caption }}
                        </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <hr />
            {{ content }}
            <hr class="hr_secondair">
            <h3>Tags:</h3>
            <div class="project__tags">
                {% assign sortedTags = tags | sort %}
                {% for tag in sortedTags %}
                    {% if tag != "project" %}
                        <a href="/projecten/?tag={{ tag }}" class="project__tag" data-tag="{{ tag }}">{{ tag }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </main>
    </div>
    {% include "footer.html" %}
</body>
</html>